<!--{% extends 'base.html' %}-->
<!--{% block content %}-->
<!--<div>-->
<!--    <b>{{menu.1.url}}</b>-->
<!--    <h1>Volkswagen</h1>-->
<!--    <a href="">Главная</a>-->
<!--    <a href="organization">Организации</a>-->
<!--    <a href="automobile">Автомобили</a>-->
<!--    <a href="employee">Сотрудники</a>-->
<!--    <a href="automobile/add_eq">Доп. оборудование</a>-->
<!--    <a href="automobile/add_serv">Доп. сервисы</a>-->
<!--</div>-->
<!--{% endblock %}-->

<nav>
    <a href="https://ya.ru"> Поиск</a>
    <a href="http://www.bgitu.ru/"> ВУЗ</a>
    <hr>
    <b> {{menu.1.url}} </b>
</nav>